# SQL 50 LeetCode in Pyspark

In [ ]:
!pip install pyspark==3.5.1

Collecting pyspark==3.5.1
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark==3.5.1) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=8068c758765925b79b5121a7ce574bef4b8a7efea38c47437aa04f3a2c2c3e5c
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql import Window
import pyspark.sql.functions as F
spark=SparkSession.builder.appName("SQL 50 LeetCode").getOrCreate()

# #1 [1757. Recyclable and Low Fat Products](https://leetcode.com/problems/recyclable-and-low-fat-products/?envType=study-plan-v2&envId=top-sql-50)

### Pyspark Data Schema

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType

# Create a Spark session
spark = SparkSession.builder.master("local[1]").appName("example").getOrCreate()

# Provided data
data = [
    ['0', 'Y', 'N'],
    ['1', 'Y', 'Y'],
    ['2', 'N', 'Y'],
    ['3', 'Y', 'Y'],
    ['4', 'N', 'N']
]

# Define the schema for the DataFrame
schema = StructType([
    StructField("product_id", StringType(), True),
    StructField("low_fats", StringType(), True),
    StructField("recyclable", StringType(), True)
])

# Convert the data to a PySpark DataFrame
products_df = spark.createDataFrame(data, schema=schema)

# Show the DataFrame
products_df.show()

+----------+--------+----------+
|product_id|low_fats|recyclable|
+----------+--------+----------+
|         0|       Y|         N|
|         1|       Y|         Y|
|         2|       N|         Y|
|         3|       Y|         Y|
|         4|       N|         N|
+----------+--------+----------+

### Solution

In [ ]:
products_df.filter((F.col("low_fats")=='Y') & (F.col("recyclable")=='Y')).select("product_id").show()

+----------+
|product_id|
+----------+
|         1|
|         3|
+----------+

# #2 [584. Find Customer Referee](https://leetcode.com/problems/find-customer-referee/?envType=study-plan-v2&envId=top-sql-50)

### Pyspark Data Schema

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

# Create a Spark session
spark = SparkSession.builder.master("local[1]").appName("example").getOrCreate()

# Provided data
data = [
    [1, 'Will', None],
    [2, 'Jane', None],
    [3, 'Alex', 2],
    [4, 'Bill', None],
    [5, 'Zack', 1],
    [6, 'Mark', 2]
]

# Define the schema for the DataFrame
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("referee_id", IntegerType(), True)
])

# Convert the data to a PySpark DataFrame
customer_df = spark.createDataFrame(data, schema=schema)

# Show the DataFrame
customer_df.show()

+---+----+----------+
| id|name|referee_id|
+---+----+----------+
|  1|Will|      NULL|
|  2|Jane|      NULL|
|  3|Alex|         2|
|  4|Bill|      NULL|
|  5|Zack|         1|
|  6|Mark|         2|
+---+----+----------+

### Solution

In [ ]:
customer_df.filter((F.col('referee_id')!=2)|(F.col('referee_id').isNull())).select("name").show()

+----+
|name|
+----+
|Will|
|Jane|
|Bill|
|Zack|
+----+

# #3 [595. Big Countries](https://leetcode.com/problems/big-countries/?envType=study-plan-v2&envId=top-sql-50)

### Pyspark Data Schema

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, LongType

# Create a Spark session
spark = SparkSession.builder.master("local[1]").appName("example").getOrCreate()

# Provided data
data = [
    ['Afghanistan', 'Asia', 652230, 25500100, 20343000000],
    ['Albania', 'Europe', 28748, 2831741, 12960000000],
    ['Algeria', 'Africa', 2381741, 37100000, 188681000000],
    ['Andorra', 'Europe', 468, 78115, 3712000000],
    ['Angola', 'Africa', 1246700, 20609294, 100990000000]
]

# Define the schema for the DataFrame
schema = StructType([
    StructField("name", StringType(), True),
    StructField("continent", StringType(), True),
    StructField("area", LongType(), True),
    StructField("population", LongType(), True),
    StructField("gdp", LongType(), True)
])

# Convert the data to a PySpark DataFrame
world_df = spark.createDataFrame(data, schema=schema)

# Show the DataFrame
world_df.show()

+-----------+---------+-------+----------+------------+
|       name|continent|   area|population|         gdp|
+-----------+---------+-------+----------+------------+
|Afghanistan|     Asia| 652230|  25500100| 20343000000|
|    Albania|   Europe|  28748|   2831741| 12960000000|
|    Algeria|   Africa|2381741|  37100000|188681000000|
|    Andorra|   Europe|    468|     78115|  3712000000|
|     Angola|   Africa|1246700|  20609294|100990000000|
+-----------+---------+-------+----------+------------+

### Solution

In [ ]:
world_df.filter((F.col('area')>=3000000)|(F.col('population')>=25000000)).select("name","population","area").show()

+-----------+----------+-------+
|       name|population|   area|
+-----------+----------+-------+
|Afghanistan|  25500100| 652230|
|    Algeria|  37100000|2381741|
+-----------+----------+-------+

# #4  [1148. Article Views I](https://leetcode.com/problems/article-views-i/?envType=study-plan-v2&envId=top-sql-50)

### Pyspark Data Schema

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, DateType
from pyspark.sql.functions import to_date

# Create a Spark session
spark = SparkSession.builder.master("local[1]").appName("example").getOrCreate()

# Provided data
data = [
    [1, 3, 5, '2019-08-01'],
    [1, 3, 6, '2019-08-02'],
    [2, 7, 7, '2019-08-01'],
    [2, 7, 6, '2019-08-02'],
    [4, 7, 1, '2019-07-22'],
    [3, 4, 4, '2019-07-21'],
    [3, 4, 4, '2019-07-21']
]

# Define the schema for the DataFrame
schema = StructType([
    StructField("article_id", IntegerType(), True),
    StructField("author_id", IntegerType(), True),
    StructField("viewer_id", IntegerType(), True),
    StructField("view_date", StringType(), True)
])

# Convert the data to a PySpark DataFrame
views_df = spark.createDataFrame(data, schema=schema)

# Convert the view_date column from string to date
views_df = views_df.withColumn("view_date", to_date("view_date"))

# Show the DataFrame
views_df.show()

+----------+---------+---------+----------+
|article_id|author_id|viewer_id| view_date|
+----------+---------+---------+----------+
|         1|        3|        5|2019-08-01|
|         1|        3|        6|2019-08-02|
|         2|        7|        7|2019-08-01|
|         2|        7|        6|2019-08-02|
|         4|        7|        1|2019-07-22|
|         3|        4|        4|2019-07-21|
|         3|        4|        4|2019-07-21|
+----------+---------+---------+----------+

### Solution

In [ ]:
views_df.where(F.col("author_id")==F.col("viewer_id")).select("author_id").drop_duplicates().show()

+---------+
|author_id|
+---------+
|        7|
|        4|
+---------+

# #5 [1683. Invalid Tweets](https://leetcode.com/problems/invalid-tweets/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

# Create a Spark session
spark = SparkSession.builder.master("local[1]").appName("example").getOrCreate()

# Provided data
data = [
    [1, 'Vote for Biden'],
    [2, 'Let us make America great again!']
]

# Define the schema for the DataFrame
schema = StructType([
    StructField("tweet_id", IntegerType(), True),
    StructField("content", StringType(), True)
])

# Convert the data to a PySpark DataFrame
tweets_df = spark.createDataFrame(data, schema=schema)

# Show the DataFrame
tweets_df.show()

+--------+--------------------+
|tweet_id|             content|
+--------+--------------------+
|       1|      Vote for Biden|
|       2|Let us make Ameri...|
+--------+--------------------+

### Solution

In [ ]:
tweets_df.filter(F.length('content')>15).select('tweet_id').show()

+--------+
|tweet_id|
+--------+
|       2|
+--------+

# #6 [1378. Replace Employee ID With The Unique Identifier](https://leetcode.com/problems/replace-employee-id-with-the-unique-identifier/description/?envType=study-plan-v2&envId=top-sql-50)

In [ ]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.master("local[1]").appName("example").getOrCreate()

# Provided data for employees DataFrame
employees_data = [
    [1, 'Alice'],
    [7, 'Bob'],
    [11, 'Meir'],
    [90, 'Winston'],
    [3, 'Jonathan']
]

# Provided data for employee_uni DataFrame
employee_uni_data = [
    [3, 1],
    [11, 2],
    [90, 3]
]

# Create employees DataFrame
employees_df = spark.createDataFrame(employees_data, schema=['id', 'name'])

# Create employee_uni DataFrame
employee_uni_df = spark.createDataFrame(employee_uni_data, schema=['id', 'unique_id'])

# Show the DataFrames
employees_df.show()
employee_uni_df.show()

+---+--------+
| id|    name|
+---+--------+
|  1|   Alice|
|  7|     Bob|
| 11|    Meir|
| 90| Winston|
|  3|Jonathan|
+---+--------+

+---+---------+
| id|unique_id|
+---+---------+
|  3|        1|
| 11|        2|
| 90|        3|
+---+---------+

### Solution

In [ ]:
employees_df.join(employee_uni_df, how='left', on='id').select('unique_id','name').show()

+---------+--------+
|unique_id|    name|
+---------+--------+
|     NULL|     Bob|
|     NULL|   Alice|
|        1|Jonathan|
|        2|    Meir|
|        3| Winston|
+---------+--------+