# SQL 50 LeetCode in Pyspark

In [43]:
!pip install pyspark==3.5.1

Requirement already satisfied: pyspark==3.5.1 in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark==3.5.1) (0.10.9.7)

In [44]:
from pyspark.sql import SparkSession
from pyspark.sql import Window
import pyspark.sql.functions as F
spark=SparkSession.builder.appName("SQL 50 LeetCode").getOrCreate()

# [#1 Recyclable and Low Fat Products](https://leetcode.com/problems/recyclable-and-low-fat-products/?envType=study-plan-v2&envId=top-sql-50)

### Pyspark Data Schema

In [45]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType

# Create a Spark session
spark = SparkSession.builder.master("local[1]").appName("example").getOrCreate()

# Provided data
data = [
    ['0', 'Y', 'N'],
    ['1', 'Y', 'Y'],
    ['2', 'N', 'Y'],
    ['3', 'Y', 'Y'],
    ['4', 'N', 'N']
]

# Define the schema for the DataFrame
schema = StructType([
    StructField("product_id", StringType(), True),
    StructField("low_fats", StringType(), True),
    StructField("recyclable", StringType(), True)
])

# Convert the data to a PySpark DataFrame
products_df = spark.createDataFrame(data, schema=schema)

# Show the DataFrame
products_df.show()

+----------+--------+----------+
|product_id|low_fats|recyclable|
+----------+--------+----------+
|         0|       Y|         N|
|         1|       Y|         Y|
|         2|       N|         Y|
|         3|       Y|         Y|
|         4|       N|         N|
+----------+--------+----------+

### Solution

In [46]:
products_df.filter((F.col("low_fats")=='Y') & (F.col("recyclable")=='Y')).select("product_id").show()

+----------+
|product_id|
+----------+
|         1|
|         3|
+----------+

# [#2 Find Customer Referee](https://leetcode.com/problems/find-customer-referee/?envType=study-plan-v2&envId=top-sql-50)

### Pyspark Data Schema

In [47]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

# Create a Spark session
spark = SparkSession.builder.master("local[1]").appName("example").getOrCreate()

# Provided data
data = [
    [1, 'Will', None],
    [2, 'Jane', None],
    [3, 'Alex', 2],
    [4, 'Bill', None],
    [5, 'Zack', 1],
    [6, 'Mark', 2]
]

# Define the schema for the DataFrame
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("referee_id", IntegerType(), True)
])

# Convert the data to a PySpark DataFrame
customer_df = spark.createDataFrame(data, schema=schema)

# Show the DataFrame
customer_df.show()

+---+----+----------+
| id|name|referee_id|
+---+----+----------+
|  1|Will|      NULL|
|  2|Jane|      NULL|
|  3|Alex|         2|
|  4|Bill|      NULL|
|  5|Zack|         1|
|  6|Mark|         2|
+---+----+----------+

### Solution

In [48]:
customer_df.filter((F.col('referee_id')!=2)|(F.col('referee_id').isNull())).select("name").show()

+----+
|name|
+----+
|Will|
|Jane|
|Bill|
|Zack|
+----+

# [#3 Big Countries](https://leetcode.com/problems/big-countries/?envType=study-plan-v2&envId=top-sql-50)

### Pyspark Data Schema

In [49]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, LongType

# Create a Spark session
spark = SparkSession.builder.master("local[1]").appName("example").getOrCreate()

# Provided data
data = [
    ['Afghanistan', 'Asia', 652230, 25500100, 20343000000],
    ['Albania', 'Europe', 28748, 2831741, 12960000000],
    ['Algeria', 'Africa', 2381741, 37100000, 188681000000],
    ['Andorra', 'Europe', 468, 78115, 3712000000],
    ['Angola', 'Africa', 1246700, 20609294, 100990000000]
]

# Define the schema for the DataFrame
schema = StructType([
    StructField("name", StringType(), True),
    StructField("continent", StringType(), True),
    StructField("area", LongType(), True),
    StructField("population", LongType(), True),
    StructField("gdp", LongType(), True)
])

# Convert the data to a PySpark DataFrame
world_df = spark.createDataFrame(data, schema=schema)

# Show the DataFrame
world_df.show()

+-----------+---------+-------+----------+------------+
|       name|continent|   area|population|         gdp|
+-----------+---------+-------+----------+------------+
|Afghanistan|     Asia| 652230|  25500100| 20343000000|
|    Albania|   Europe|  28748|   2831741| 12960000000|
|    Algeria|   Africa|2381741|  37100000|188681000000|
|    Andorra|   Europe|    468|     78115|  3712000000|
|     Angola|   Africa|1246700|  20609294|100990000000|
+-----------+---------+-------+----------+------------+

### Solution

In [50]:
world_df.filter((F.col('area')>=3000000)|(F.col('population')>=25000000)).select("name","population","area").show()

+-----------+----------+-------+
|       name|population|   area|
+-----------+----------+-------+
|Afghanistan|  25500100| 652230|
|    Algeria|  37100000|2381741|
+-----------+----------+-------+

# [#4  Article Views I](https://leetcode.com/problems/article-views-i/?envType=study-plan-v2&envId=top-sql-50)

### Pyspark Data Schema

In [51]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, DateType
from pyspark.sql.functions import to_date

# Create a Spark session
spark = SparkSession.builder.master("local[1]").appName("example").getOrCreate()

# Provided data
data = [
    [1, 3, 5, '2019-08-01'],
    [1, 3, 6, '2019-08-02'],
    [2, 7, 7, '2019-08-01'],
    [2, 7, 6, '2019-08-02'],
    [4, 7, 1, '2019-07-22'],
    [3, 4, 4, '2019-07-21'],
    [3, 4, 4, '2019-07-21']
]

# Define the schema for the DataFrame
schema = StructType([
    StructField("article_id", IntegerType(), True),
    StructField("author_id", IntegerType(), True),
    StructField("viewer_id", IntegerType(), True),
    StructField("view_date", StringType(), True)
])

# Convert the data to a PySpark DataFrame
views_df = spark.createDataFrame(data, schema=schema)

# Convert the view_date column from string to date
views_df = views_df.withColumn("view_date", to_date("view_date"))

# Show the DataFrame
views_df.show()

+----------+---------+---------+----------+
|article_id|author_id|viewer_id| view_date|
+----------+---------+---------+----------+
|         1|        3|        5|2019-08-01|
|         1|        3|        6|2019-08-02|
|         2|        7|        7|2019-08-01|
|         2|        7|        6|2019-08-02|
|         4|        7|        1|2019-07-22|
|         3|        4|        4|2019-07-21|
|         3|        4|        4|2019-07-21|
+----------+---------+---------+----------+

### Solution

In [52]:
views_df.where(F.col("author_id")==F.col("viewer_id")).select("author_id").drop_duplicates().show()

+---------+
|author_id|
+---------+
|        7|
|        4|
+---------+

# [#5 Invalid Tweets](https://leetcode.com/problems/invalid-tweets/?envType=study-plan-v2&envId=top-sql-50)

### Pyspark Data Schema

In [53]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

# Create a Spark session
spark = SparkSession.builder.master("local[1]").appName("example").getOrCreate()

# Provided data
data = [
    [1, 'Vote for Biden'],
    [2, 'Let us make America great again!']
]

# Define the schema for the DataFrame
schema = StructType([
    StructField("tweet_id", IntegerType(), True),
    StructField("content", StringType(), True)
])

# Convert the data to a PySpark DataFrame
tweets_df = spark.createDataFrame(data, schema=schema)

# Show the DataFrame
tweets_df.show()

+--------+--------------------+
|tweet_id|             content|
+--------+--------------------+
|       1|      Vote for Biden|
|       2|Let us make Ameri...|
+--------+--------------------+

### Solution

In [54]:
tweets_df.filter(F.length('content')>15).select('tweet_id').show()

+--------+
|tweet_id|
+--------+
|       2|
+--------+

# [#6 Replace Employee ID With The Unique Identifier](https://leetcode.com/problems/replace-employee-id-with-the-unique-identifier/description/?envType=study-plan-v2&envId=top-sql-50)

### Pyspark Data Schema

In [55]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.master("local[1]").appName("example").getOrCreate()

# Provided data for employees DataFrame
employees_data = [
    [1, 'Alice'],
    [7, 'Bob'],
    [11, 'Meir'],
    [90, 'Winston'],
    [3, 'Jonathan']
]

# Provided data for employee_uni DataFrame
employee_uni_data = [
    [3, 1],
    [11, 2],
    [90, 3]
]

# Create employees DataFrame
employees_df = spark.createDataFrame(employees_data, schema=['id', 'name'])

# Create employee_uni DataFrame
employee_uni_df = spark.createDataFrame(employee_uni_data, schema=['id', 'unique_id'])

# Show the DataFrames
employees_df.show()
employee_uni_df.show()

+---+--------+
| id|    name|
+---+--------+
|  1|   Alice|
|  7|     Bob|
| 11|    Meir|
| 90| Winston|
|  3|Jonathan|
+---+--------+

+---+---------+
| id|unique_id|
+---+---------+
|  3|        1|
| 11|        2|
| 90|        3|
+---+---------+

### Solution

In [56]:
employees_df.join(employee_uni_df, how='left', on='id').select('unique_id','name').show()

+---------+--------+
|unique_id|    name|
+---------+--------+
|     NULL|     Bob|
|     NULL|   Alice|
|        1|Jonathan|
|        2|    Meir|
|        3| Winston|
+---------+--------+

# [#7 Product Sales Analysis I](https://leetcode.com/problems/product-sales-analysis-i/?envType=study-plan-v2&envId=top-sql-50)

In [57]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

# Create a Spark session
spark = SparkSession.builder.master("local[1]").appName("example").getOrCreate()

# Provided data for sales DataFrame
sales_data = [
    [1, 100, 2008, 10, 5000],
    [2, 100, 2009, 12, 5000],
    [7, 200, 2011, 15, 9000]
]

# Provided data for product DataFrame
product_data = [
    [100, 'Nokia'],
    [200, 'Apple'],
    [300, 'Samsung']
]

# Define the schema for sales DataFrame
sales_schema = StructType([
    StructField("sale_id", IntegerType(), True),
    StructField("product_id", IntegerType(), True),
    StructField("year", IntegerType(), True),
    StructField("quantity", IntegerType(), True),
    StructField("price", IntegerType(), True)
])

# Define the schema for product DataFrame
product_schema = StructType([
    StructField("product_id", IntegerType(), True),
    StructField("product_name", StringType(), True)
])

# Create sales DataFrame
sales_df = spark.createDataFrame(sales_data, schema=sales_schema)

# Create product DataFrame
product_df = spark.createDataFrame(product_data, schema=product_schema)

# Show the DataFrames
sales_df.show()
product_df.show()

+-------+----------+----+--------+-----+
|sale_id|product_id|year|quantity|price|
+-------+----------+----+--------+-----+
|      1|       100|2008|      10| 5000|
|      2|       100|2009|      12| 5000|
|      7|       200|2011|      15| 9000|
+-------+----------+----+--------+-----+

+----------+------------+
|product_id|product_name|
+----------+------------+
|       100|       Nokia|
|       200|       Apple|
|       300|     Samsung|
+----------+------------+

### Solutions

In [58]:
sales_df.join(product_df, how='left', on='product_id').groupby(['product_name','year']).agg(F.sum('price').alias('price')).show()

+------------+----+-----+
|product_name|year|price|
+------------+----+-----+
|       Apple|2011| 9000|
|       Nokia|2008| 5000|
|       Nokia|2009| 5000|
+------------+----+-----+

# [#8 Customer Who Visited but Did Not Make Any Transactions](https://leetcode.com/problems/customer-who-visited-but-did-not-make-any-transactions/?envType=study-plan-v2&envId=top-sql-50)

### Pyspark Data Schema

In [59]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.master("local[1]").appName("example").getOrCreate()

# Provided data for visits DataFrame
visits_data = [
    [1, 23],
    [2, 9],
    [4, 30],
    [5, 54],
    [6, 96],
    [7, 54],
    [8, 54]
]

# Provided data for transactions DataFrame
transactions_data = [
    [2, 5, 310],
    [3, 5, 300],
    [9, 5, 200],
    [12, 1, 910],
    [13, 2, 970]
]

# Create visits DataFrame
visits_df = spark.createDataFrame(visits_data, schema=['visit_id', 'customer_id'])

# Create transactions DataFrame
transactions_df = spark.createDataFrame(transactions_data, schema=['transaction_id', 'visit_id', 'amount'])

# Show the DataFrames
visits_df.show()
transactions_df.show()

+--------+-----------+
|visit_id|customer_id|
+--------+-----------+
|       1|         23|
|       2|          9|
|       4|         30|
|       5|         54|
|       6|         96|
|       7|         54|
|       8|         54|
+--------+-----------+

+--------------+--------+------+
|transaction_id|visit_id|amount|
+--------------+--------+------+
|             2|       5|   310|
|             3|       5|   300|
|             9|       5|   200|
|            12|       1|   910|
|            13|       2|   970|
+--------------+--------+------+

### Solution

In [60]:
user_visits_trans_df=visits_df.join(transactions_df, how='left', on='visit_id').groupby(
                                                                  ['customer_id','visit_id']).agg(
                                                                  F.count('transaction_id').alias('transactions_count'))
user_visits_trans_df.where(F.col('transactions_count')==0).groupby(['customer_id']).agg(F.count('customer_id').alias('count_no_trans')).show()

+-----------+--------------+
|customer_id|count_no_trans|
+-----------+--------------+
|         54|             2|
|         96|             1|
|         30|             1|
+-----------+--------------+

# [#9 Rising Temperature](https://leetcode.com/problems/rising-temperature/?envType=study-plan-v2&envId=top-sql-50)

### Pyspark Data Schema

In [61]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, DateType
from datetime import datetime

# Create a Spark session
spark = SparkSession.builder.master("local[1]").appName("example").getOrCreate()

# Provided data for weather DataFrame
data = [
    [1, '2015-01-01', 10],
    [2, '2015-01-02', 25],
    [3, '2015-01-03', 20],
    [4, '2015-01-04', 30]
]

# Define the schema for the DataFrame
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("recordDate", DateType(), True),
    StructField("temperature", IntegerType(), True)
])

# Convert the date strings to proper date objects
formatted_data = [[row[0], datetime.strptime(row[1], '%Y-%m-%d').date(), row[2]] for row in data]

# Convert the data to a PySpark DataFrame
weather_df = spark.createDataFrame(formatted_data, schema=schema)

# Show the DataFrame
weather_df.show()

+---+----------+-----------+
| id|recordDate|temperature|
+---+----------+-----------+
|  1|2015-01-01|         10|
|  2|2015-01-02|         25|
|  3|2015-01-03|         20|
|  4|2015-01-04|         30|
+---+----------+-----------+

### Solution

In [62]:
weather_df.show()

+---+----------+-----------+
| id|recordDate|temperature|
+---+----------+-----------+
|  1|2015-01-01|         10|
|  2|2015-01-02|         25|
|  3|2015-01-03|         20|
|  4|2015-01-04|         30|
+---+----------+-----------+

In [63]:
weather_df = weather_df.withColumn('next_day', F.date_add(weather_df['recordDate'], 1))
joined_df = weather_df.alias("weather1").join(
                                              weather_df.alias("weather2"), on=(F.col("weather1.recordDate") == F.col("weather2.next_day")), how='left'
                                              ).where(F.col('weather1.temperature')>F.col('weather2.temperature')).select('weather1.id')
joined_df.show()

+---+
| id|
+---+
|  2|
|  4|
+---+

# [#10 Average Time of Process per Machine](https://leetcode.com/problems/average-time-of-process-per-machine/?envType=study-plan-v2&envId=top-sql-50)

### Python Data Schema

In [64]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType

# Create a Spark session
spark = SparkSession.builder.master("local[1]").appName("example").getOrCreate()

# Provided data for activity DataFrame
data = [
    [0, 0, 'start', 0.712],
    [0, 0, 'end', 1.52],
    [0, 1, 'start', 3.14],
    [0, 1, 'end', 4.12],
    [1, 0, 'start', 0.55],
    [1, 0, 'end', 1.55],
    [1, 1, 'start', 0.43],
    [1, 1, 'end', 1.42],
    [2, 0, 'start', 4.1],
    [2, 0, 'end', 4.512],
    [2, 1, 'start', 2.5],
    [2, 1, 'end', 5.0]
]

# Define the schema for the DataFrame
schema = StructType([
    StructField("machine_id", IntegerType(), True),
    StructField("process_id", IntegerType(), True),
    StructField("activity_type", StringType(), True),
    StructField("timestamp", FloatType(), True)
])

# Convert the data to a PySpark DataFrame
activity_df = spark.createDataFrame(data, schema=schema)

# Show the DataFrame
activity_df.show()

+----------+----------+-------------+---------+
|machine_id|process_id|activity_type|timestamp|
+----------+----------+-------------+---------+
|         0|         0|        start|    0.712|
|         0|         0|          end|     1.52|
|         0|         1|        start|     3.14|
|         0|         1|          end|     4.12|
|         1|         0|        start|     0.55|
|         1|         0|          end|     1.55|
|         1|         1|        start|     0.43|
|         1|         1|          end|     1.42|
|         2|         0|        start|      4.1|
|         2|         0|          end|    4.512|
|         2|         1|        start|      2.5|
|         2|         1|          end|      5.0|
+----------+----------+-------------+---------+

### Solution

In [65]:
start_activity_df = activity_df.where(F.col('activity_type') == 'start').alias('start_activity_df')
end_activity_df = activity_df.where(F.col('activity_type') == 'end').alias('end_activity_df')

joined_df = start_activity_df.join(end_activity_df,
                                    on=((F.col('start_activity_df.machine_id') == F.col('end_activity_df.machine_id')) &
                                        (F.col('start_activity_df.process_id') == F.col('end_activity_df.process_id'))),
                                    how='inner')
joined_df = joined_df.withColumn('diff', F.col('end_activity_df.timestamp') - F.col('start_activity_df.timestamp'))
processed_time_df = joined_df.groupby('start_activity_df.machine_id').agg(F.round(F.avg('diff'),3).alias('processing_time'))
processed_time_df.show()

+----------+---------------+
|machine_id|processing_time|
+----------+---------------+
|         1|          0.995|
|         2|          1.456|
|         0|          0.894|
+----------+---------------+